<!DOCTYPE html>

{% include 'header.html' %}

<div class="container">
<a href="/">Home</a>
<div class="row" id="appTitle">
<h2><strong>Interface for Medical Care Transitions</strong></h2>
</div>
    <h3> Choose Patient </h3>
    <hr/>
    <div class="row">
	
        {% for image in patient_image %}
		
            <div class="col-lg-2" data-name="{{ image[1] }}">
				<div class="patient_img" class="col-lg-1">
				<li class="border">
				<input type="hidden" class="hiddenNam" value="{{image[0]}}" />
				<input type="hidden" class="hiddenId" value="{{image[2]}}" />
			 <img src="{{ image[0] }}" class="patientThumb"/> 
			 <span>
			 <img src = "../static/images/symbol-check-icon.png"/>
			 </span>
			 </li>
			 </div>
			 <br/>
			 <br/>
			 <div class="patient_details" class="col-lg-1">

			Name: {{ image[1] }}<br/>
			ID : {{image[2]}}<br/>
			LOS : 1 day </br>
            {% if patient_summary.get(image[2]) != None %}
			Summary created : Yes <br/>
			Summary created on : {{patient_summary.get(image[2])}} <br/>
            {% endif %}
            {% if patient_summary.get(image[2]) == None %}
            Summary created : No <br/>
            Summary created on : N/A <br/>
            {% endif %}
			<br/>
			Diagnosis : <button class="btn btn-xs btn-info">Quick View</button>

			</div>
			</div>

        {% endfor %}

    </div>
</br>
    <div class="row">
    	<div class="alignCenter col-lg-12">
	<form action="/bfilters/" method="post" onsubmit="return validate();">
           <input id="patientList" type="hidden" name="alignment" value="" />
		   <input id="patientNams" type="hidden" name="pids" value="" />

           <button class="btn btn-lg btn-large btn-primary" id="viewPatients">View</button>

        </form>
    </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
    $(".patient_img li").click(function(){
			$(this).toggleClass('selected');
    });
	
    
});

</script>
<script type="text/javascript">
    function validate(){
	var ids = [];
	var pnams = [];
	$('.selected').each(function(){
		ids.push($(this).find(".hiddenId").val());
		pnams.push($(this).find(".hiddenNam").val());
	});
	if(ids.length >= 3){
		alert("Please select atmost two patients.")
		return false;
		}
	else if(ids.length == 0){
		alert("Please select patient(s).")
		return false;}
	else{
		$("#patientList").val(ids);
		$("#patientNams").val(pnams);
		return true;
	}
		}
</script>

{% include 'footer.html' %}