<!DOCTYPE html>

{% include 'header.html' %}

<div class="container">
<div class="row" id="appTitle">
<h2><strong>Interface for Medical Care Transitions</strong></h2>
</div>
<hr/>
    <div>
    <div class="">
    <p class="bigtext text-muted"> Choose patient(s) and click</p>
    </div>
    <form action="/bfilters/" method="post" onsubmit="return validate();">
           <input id="patientList" type="hidden" name="alignment" value="" />
           <input id="patientNams" type="hidden" name="pids" value="" />
           <button class="btn btn-primary" id="viewPatients">
              &nbsp;&nbsp;&nbsp; View Details&nbsp;&nbsp;&nbsp;
    </button>
        </form>
    </div>
    <hr/>
    <div class="row">

        {% for image in patient_image %}
		
            <div class="col-lg-2" data-name="{{ image[1] }}">
				<div class="patient_img" class="col-lg-1">
				<li class="border">
				<input type="hidden" class="hiddenNam" value="{{image[0]}}" />
				<input type="hidden" class="hiddenId" value="{{image[2]}}" />
			 <img src="{{ image[0] }}" class="patientThumb"/> 
			 <span>
			 <img src = "../static/images/symbol-check-icon.png"/>
			 </span>
			 </li>
			 </div>
			 <br/>
			 <br/>
			 <div class="patient_details" class="col-lg-1">

			Name: <span class="patientnamediv">{{ image[1] }}</span><br/>
			ID : <span class="patientiddiv">{{image[2]}}</span><br/>
			LOS : 1 day </br>
            {% if patient_summary.get(image[2]) != None %}
			Summary created : Yes <br/>
			Summary created on : {{patient_summary.get(image[2])}} <br/>
            {% endif %}
            {% if patient_summary.get(image[2]) == None %}
            Summary created : No <br/>
            Summary created on : N/A <br/>
            {% endif %}
			<br/>

			Diagnosis : <button class="btn btn-xs btn-default quickViewBtn" 
            data-toggle="modal" data-target="#myModal">Quick View</button>

			</div>
			</div>

        {% endfor %}

    </div>
</br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div id="pTree" class="modal-body" >
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript">

$(document).ready(function(){
    $(".patient_img li").click(function(){
			$(this).toggleClass('selected');
    });

    $('.quickViewBtn').on('click',function(){
        var patient_name = $(this).parent().find('.patientnamediv').text();
        var patient_id = $(this).parent().find('.patientiddiv').text();
        var file_path = "app/static/data/"+patient_name+"/quickview.json";

        $('.modal-body').html('File path is : '+file_path);
    });
});

</script>
<script type="text/javascript">
    function validate(){
	var ids = [];
	var pnams = [];
	$('.selected').each(function(){
		ids.push($(this).find(".hiddenId").val());
		pnams.push($(this).find(".hiddenNam").val());
	});
	if(ids.length >= 3){
		alert("Please select atmost two patients.")
		return false;
		}
	else if(ids.length == 0){
		alert("Please select patient(s).")
		return false;}
	else{
		$("#patientList").val(ids);
		$("#patientNams").val(pnams);
		return true;
	}
		}
</script>

{% include 'footer.html' %}